<div class="container">
  <figure class ="polaroid" >
    <img src="{{img}}" alt="Profile Photo" class="profileImg">
    <figcaption class ="name">{{name}}</figcaption>
  </figure>

  <div class="profileData">
    <ul class="profile-info">
      <li>Birthday: {{birthday}}</li>
      <li>Bio: {{bio}}</li>
      <li><a href="/user/{{id}}/edit">Edit Profile</a></li>
    </ul>
  </div>
</div>
